body{
    background-color: black;
    list-style-type: none;

}

@font-face {
  font-family: AGaramonPro;
  src: url(/assets/AGaramondPro-Regular.otf);
}

@font-face {
  font-family: RubikOne;
  src: url(/assets/RubikOne-Regular.ttf);
}

body{
font-family: AGaramonPro;
color:white;
}




.testimony {
    color: white;
}


a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  nav {
      background-color: black;
  }

  .navArrowRight{
      align-content: right;
  }

.messagesContainer {
    display: flex;
      flex-direction: column;
      flex-basis: auto;

}

.messageRow {
    display: flex;
    flex-direction: row;
}

  .message {
    min-height: 5vh;
    margin: 30px;
    border: 2px solid white;
    border-radius: 5px;
    list-style-type: none;
    /* padding: 4px; */
    color: white;
    font-size: 20px;
    max-width: 50vw;
    min-width: 10vw;
    padding-right: 20px;
    padding-left: 20px;
  }

  .msgImage {
    min-height: 5vh;
    margin: 30px;
    border: 2px solid white;
    border-radius: 5px;
    list-style-type: none;
  }

  .msgLeftContent {
    background-color: white;
    color: black;
    justify-content: flex-start;
  }
  .msgRight {
    justify-content: flex-end;
  }

  .msgImg {
      height: 30vw;
      width:40vw;
      object-fit: cover;

  }



  .testimonyLink {
    height: 100px;
    margin: 23px;
    border: 2px solid white;
    border-radius: 5px;
    list-style-type: none;
    /* padding: 20px; */
    padding-right: 2px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

  .arrow{
    font-size: 25px;
    margin-top: 3px;
  
  }

  .iconContainer{
    justify-content: end;
    flex-shrink: 3;
    align-self: flex-end;
    margin-left: auto;
  }
  .question {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin: 30px;
    font-weight: 900;

  }

  
.optionText {
  font-size: 30px;
  margin-top: 26px;
  justify-content: start;
  flex-shrink: 3;
  margin-left: 20px;
}

.linkActive {
  border-bottom: 2px solid white;
}

.nav-wrapper{
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}


.siteTitle{
  font-family: Arial !important;
  font-weight: 900;
  font-size: 20px;
  margin-right: auto;
}

.navElement {
  margin: 0px 20px;
  font-size: 20px;
}

.modalContent {
  /* display: flex;
  background-color: black;
  flex-direction: column;
  max-height: 500px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  height: calc(80% - 20px);

  margin: 10px;
}



.modalExit {
  margin-left: auto;
}

.modalImg {

  display: block;
  /* object-fit: cover; */
  width: 100%;
  height: 100%; /* set to 'auto' in IE11 to avoid distortions */

}

.bottomNav {
  display: flex;
}

.centerText {
  display: flex;
  align-items: center;
  justify-content: center;
}


.audioMsg{
  min-width: 40vw !important;
}