body{
    background-color: black;
    list-style-type: none;

}

.testimonyLink {
    height: 80px;
    margin: 30px;
    border: 2px solid white;
    border-radius: 5px;
    list-style-type: none;
    /* padding: 20px; */
    padding-right: 2px;
    color: white;
    font-size: 20px;
}


.testimony {
    color: white;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  nav {
      background-color: black;
  }

  .navArrowRight{
      align-content: right;
  }

.messagesContainer {
    display: flex;
      flex-direction: column;
      flex-basis: auto;

}

.messageRow {
    display: flex;
    flex-direction: row;
}

  .message {
    min-height: 5vh;
    /* height: 30px; */
    margin: 30px;
    border: 2px solid white;
    border-radius: 5px;
    list-style-type: none;
    padding: 15px;
    /* padding-right: 2px; */
    color: white;
    font-size: 20px;
  }
  .msgLeftContent {
    background-color: white;
    color: black;
    justify-content: flex-start;
  }
  .msgRight {
    justify-content: flex-end;
  }